<b-row class="table-list mb-3">
  <b-col>
    <TableFilters :filterData="filterData" :branches="branches" @emit:search="getList" />

    <div class="d-flex flex-wrap justify-content-end mb-2">
      <ExportBtn
        ref="exportRef" class="mb-1"
        :rows="rows" :loadBtn="loadBtn"
        :text="'Овердрафт Автоплатежы'"
        :date="filterData.autoPaymentDate ? ' ' + filterData.autoPaymentDate : null"
        @emit:import="downloadExcel"
      />

      <b-button
        variant="success" class="ml-2 mb-1"
        :disabled="filterData?.isFinishedAutoPayments"
        @click="actionBtn(0)"
      >
        <i class="mdi mdi-play"></i> {{ $t('btn_text.resume') }}
      </b-button>

      <b-button
        variant="warning" class="ml-2 mb-1"
        :disabled="filterData?.isFinishedAutoPayments"
        @click="actionBtn(1)"
      >
        <i class="mdi mdi-pause"></i> {{ $t('btn_text.stop') }}
      </b-button>

      <b-button
        variant="danger" class="ml-2 mb-1"
        :disabled="filterData?.isFinishedAutoPayments"
        @click="actionBtn(2)"
      >
        <i class="mdi mdi-stop"></i> {{ $t('btn_text.finish') }}
      </b-button>

      <b-button variant="info" class="ml-2 mb-1" :to="{ name: 'MainOperationsOverdraftsAutopaymentsAdd' }">
        {{ $t('add') }} <i class="mdi mdi-plus"></i>
      </b-button>
    </div>

    <b-card no-body class="card-box-shadow">
      <b-card-header class="d-flex flex-wrap align-items-center justify-content-between pb-2">
        <TablePerPage :pagination="filterData.pagination" @emit:update="getList" class="mb-2" />

        <div
          v-if="filterData?.countInfo"
          class="table-count-info d-flex align-items-center ms-auto mb-2"
        >
          <span class="fs-14 border-end text-right pr-2">
            {{ $t('total') }}: {{ filters.filterMoney(filterData.countInfo?.TotalCount) }}
          </span>
          <span class="fs-14 border-end text-right pr-2 ml-2">
            {{ $t('table.totalSum') }}: {{ filters.filterMoney(filterData.countInfo?.AllAmount / 100) }}
          </span>
          <span class="fs-14 border-end text-right pr-2 ml-2">
            {{ $t('table.writtenOff') }}: {{ filters.filterMoney(filterData.countInfo?.AllPayedAmount / 100) }}
          </span>
          <span class="fs-14 ml-2 text-right">
            {{ $t('table.planSum') }}: {{ filters.filterMoney(filterData.countInfo?.AllRecomendedAmount / 100) }}
          </span>
        </div>
      </b-card-header>

      <div class="table-responsive mb-0">
        <ul class="nav nav-tabs nav-tabs-custom nav-info" role="tablist">
          <li class="nav-item">
            <b-link
              role="tab"
              data-bs-toggle="tab"
              class="nav-link All py-3"
              :class="{ active: !filterData?.isFinishedAutoPayments }"
              @click="filterData.isFinishedAutoPayments = false"
              aria-selected="true"
            >
              {{ $t('active') }}
            </b-link>
          </li>
          <li class="nav-item">
            <b-link
              role="tab"
              data-bs-toggle="tab"
              class="nav-link py-3 Complited"
              :class="{ active: filterData?.isFinishedAutoPayments }"
              @click="filterData.isFinishedAutoPayments = true"
              aria-selected="false"
            >
              {{ $t('completed') }}
            </b-link>
          </li>
        </ul>

        <b-table :items="rows" :fields="fields" :busy="loading" :show-empty="!loading" hover>
          <template #table-busy>
            <div class="text-center text-primary my-2">
              <b-spinner class="align-middle mr-2"></b-spinner>
              <strong>{{ $t('loading') }}...</strong>
            </div>
          </template>

          <template #empty="scope">
            <h6 class="text-center text-muted py-2 mb-0">{{ $t('error.noData') }}</h6>
          </template>

          <!-- A custom select header cell for field 'name' -->
          <template #head(selected)="item">
            <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" @change="toggleAll"/>
          </template>

          <!-- A custom select data column cell -->
          <template #cell(selected)="{ item }">
            <b-form-checkbox v-model="item.isSelected" @change="toggleOne($event, item.id)"/>
          </template>

          <template v-slot:cell(fio)="{ item }">
            <router-link 
              class="text-primary"
              :to="{ name: 'MainClientsContractsView', params: { id: item.organizationDebtorId } }"
            >{{ item.fio }}</router-link>
          </template>

          <template v-slot:cell(organizationContractInfo)="{ item }">
            <router-link
              class="text-primary"
              :to="{ name: 'MainClientsContractsView', params: { id: item.organizationDebtorId } }"
            >{{ item.organizationContractInfo }}</router-link>
          </template>

          <template v-slot:cell(statusName)="{ item }">
            <span
              class="badge text-uppercase"
              :class=" item.status === 0 || item.status === 20 ? 'badge-soft-success' : item.status === 2 ? 'badge-soft-danger' : 'badge-soft-warning'"
            >{{ item.statusName }}</span>
          </template>

          <template v-slot:cell(actions)="item">
            <i @click="item.toggleDetails" class="mdi cup h3" :class="item.detailsShowing ? 'mdi-chevron-up' : 'mdi-chevron-down'"></i>

            <i
              class="mdi mdi-arrow-right-circle-outline text-info cup h3"
              @click="$router.push({ name: 'MainOperationsOverdraftsAutopaymentsView', params: { id: item.item.id } })"
            ></i>
          </template>

          <template #row-details="{ item }">
            <div class="d-flex justify-content-center">
              <span>{{ $t('filters.accountNumber') }}: <b class="ml-1">27981292917348173021234821</b></span>
              <span class="ml-2">{{ $t('filters.cardNumber') }}: <b class="ml-1">8600 1402 4555 2811</b></span>
              <span class="ml-2"> {{ $t('filters.cardExpiry') }}: <b class="ml-1">12/24</b> </span>
              <span class="ml-2">{{ $t('filters.cardAccount') }}: <b class="ml-1">27981292917348173021234821</b></span>
            </div>
          </template>
        </b-table>
        <!-- :sortBy="sortBy" :sortDesc="sortDesc" -->
      </div>
    </b-card>

    <TablePagination :pagination="filterData?.pagination" @emit:change="getList" />
  </b-col>

  <MakeSureDialog
    :modals="modals"
    :loading="modalLoading"
    @emit:close="modals.modal = false"
    @emit:success="changeStatusBySelect"
  >{{ modalText }}</MakeSureDialog>
</b-row>
